.homePage {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(335, 10%, 25%);
    border-radius: 10px;
}
.homePage > h1 {
    margin: 30px 0px;
}
.homePage > img {
    width: 250px;
    height: 250px;
    object-fit: scale-down;
    margin-bottom: 15px;
}