nav {
    padding-top: 30px;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: hsl(335, 10%, 20%);
    box-shadow: 1px 1px 5px rgb(36, 35, 35);
}

h3{
    color: #fff;
    margin-bottom: 25px;
}

nav > a {
    text-decoration: none;
    
}