.card {
    padding: 25px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card > h3 {
    margin: 0;
}

.card > img {
    padding: 0px 0px;
    border: solid;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
}
.purple {
    background-color: hsl(255, 100%, 70%);
}
.blue {
    background-color: hsl(200, 60%, 50%);
}
.pink {
    background-color: hsl(333, 100%, 70%);
}
.green {
    background-color: hsl(125, 80%, 60%);
}
.orange {
    background-color: hsl(20, 100%, 70%);
}